<!DOCTYPE HTML>
<!--
	Strata by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Strata by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
</head>

<body class="is-preload">

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="#" class="image avatar"><img src="images/avatar.jpg" alt="" /></a>
            <h1><strong>I am Strata</strong>, a super simple<br />
                responsive site template freebie<br />
                crafted by <a href="http://html5up.net">HTML5 UP</a>.</h1>
        </div>
    </header>


    <div id="main">
        <section id="three">
            <h2>Welcome back !</h2>
            <div class="row">
                <div class="col-8 col-12-small">
                    <form method="post" action="/profile">
                        <div class="row gtr-uniform gtr-50">
                            <div class="col-6 col-12-xsmall"><input type="email" name="email" id="email"
                                    placeholder="Email" /></div>
                            <div class="col-6 col-12-xsmall"><input type="password" name="password" id="password"
                                    placeholder="Password" /></div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Log in" /></li>
                        </ul>
                    </form>
                </div>
            </div>
        </section>

        <!-- Scripts -->
        <script src="../public/assets/js/jquery.min.js"></script>
        <script src="../public/assets/js/jquery.poptrox.min.js"></script>
        <script src="../public/assets/js/browser.min.js"></script>
        <script src="../public/assets/js/breakpoints.min.js"></script>
        <script src="../public/assets/js/util.js"></script>
        <script src="../public/assets/js/main.js"></script>

</body>

</html>